@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Coda&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Coda', cursive;
}

* {
  margin: 0;
  padding: 0;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

.header-section {
  background-image: url("src/bg1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;

}

.header-container {
  color: rgb(237, 237, 237);
  text-decoration: none;
  font-size: 8vh;
  user-select: none;
  min-width: 300px;
  padding: 1%;
  text-align: center;
  background-color: #00000089;
  backdrop-filter: blur(7px);
  border-radius: 15px;
}

.about-section {
  background-color: #121212;
  min-height: 100vh;
}

.about-container {
  width: 90%;
  padding: 2vh;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.about-box {
  width: 90%;
  color: antiquewhite;
  font-size: 4vh;
  text-align: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  user-select: none;
}

#about-box1 {
  background: linear-gradient(180deg, #4b6cb7 0%, #182848 70%);
  padding: 2%;
  margin-left: 5%;
  border-radius: 10px;
  box-shadow: 2px 2px 12px black;
}

#about-box1 h3 {
  font-style: italic;
  font-family: 'Bebas Neue', cursive;
}

#about-box1 h1 {
  margin-top: 1%;
  color: #121212;
}

#about-box2 img {
  max-height: 70vh;
  border-radius: 10px;
  box-shadow: 2px 2px 12px black;
}

.gallery-section {
  background-color: #2e1b13;
  min-height: 100vh;
  max-height: max-content;
}

.gallery-container {
  width: 90%;
  padding: 2vh;
  padding-bottom: 7%;
  padding-top: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  font-size: 4vh;
  color: antiquewhite;
  text-shadow: 1px 1px 2px #919191;
  background-color: #483324;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  gap: 10%;
  user-select: none;

}

.gallery-container h1 {
  padding-bottom: 3%;
}

.gallery {
  width: 90%;
  color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  max-height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow-y: scroll;
  padding-bottom:5%;
  padding-top: 2.5%;
  box-shadow: inset 0px -10px 10px -10px #000,
              inset  0  10px 10px -10px #000;
}

.gallery::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

.gallery img {
  max-width: 20%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  transition: 200ms ease-in-out;
}

.gallery:hover img {
  filter: blur(5px) grayscale(70%);
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 15px black;
  filter: blur(0) grayscale(0);
}

.contact-section {
  background-image: url("src/bg2.jpg");
  background-size: cover;
  display: flex;
  justify-content: right;
  min-width: 100vh;
}

.contact-container {
  margin-top: 15%;
  color: #fff;
  margin-left: 40%;
  margin-bottom: 20%;
  text-decoration: none;
  font-size: 5vh;
  user-select: none;
  padding: 1%;
  text-align: center;
  position: relative;
}

.contact-button {
  margin-top: 50px;
  padding: 2%;
  border: 0px;
  border-radius: 10px;
  background-color: #121212;
  color: #fff;
  font-weight: bolder;
  font-size: large;
  transition: 100ms ease-in-out;
}

.contact-button:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 2px 2px 8px #000;
}

.date-button {
  margin-left: 20px;
  margin-top: 50px;
  padding: 2%;
  border: 0px;
  border-radius: 10px;
  background-color: #d3bfb4;
  color: #000;
  font-weight: bolder;
  font-size: large;
  transition: 100ms ease-in-out;
}

.date-button:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 2px 2px 8px #000;
}


.contact-form {
    display: none;
    background-color: #f2f2f23f;
    padding: 70px;
    border-radius: 10px;
    position: absolute;
    z-index: 10000;
    left: 50%;
    box-shadow: 2px 2px 8px #000;
    backdrop-filter: blur(10px);
  }
  
  .contact-form label {
    color: black;
  }
  
  .contact-form .heading {
    font-size: 24px;
    color: black;
    margin-bottom: 50px;
    font-weight: bold;
    display: block;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 300px;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #4a2f20fe;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button[type="submit"] {
    background-color: #573d2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .contact-form button[type="submit"]:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  .contact-form .cancel {
    background-color: rgb(113, 38, 38);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .contact-form button[type="button"]:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }