@font-face {
  font-family: "valami";
  src: url("");
  font-weight: normal;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section {
    background-image: url("src/bg3.jpg");
    background-size: cover;   
    display: flex;
    justify-content: left;

}

.header-container {
    color: #121212;
    margin-left: 12%;
    text-decoration: none;
    font-size: 5vh;
    user-select: none;
    min-width: 300px;
    text-shadow: 2px 2px 8px rgb(255, 140, 0);
}

.about-section {  
    background-color: #000;
    min-height: 100vh;
}

.about-container {
    width: 90%;
    padding: 2vh;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
 
.about-box {
    width: 90%;
    color: antiquewhite;
    font-size: 4vh;
    text-align: center;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    user-select: none;
}
#about-box1 {
    background: linear-gradient(180deg, #4b6cb7 0%, #182848 70%);
    padding: 2%;
    margin-left:5%;
    border-radius: 10%;
    box-shadow: 2px 2px 12px black;
    transition: 300ms ease-in-out;
}

#about-box1:hover {
    transform: scale(1.07);
    box-shadow: 8px 8px 15px black;
}

#about-box1 h3 {
    font-style: italic;
}

#about-box1 h1 {
    margin-top: 1%;
    color: #121212;
    font-weight: 800;
}

#about-box2 img{
    max-height: 70vh;
    border-radius: 10%;
    box-shadow: 2px 2px 12px black;
    transition: 300ms ease-in-out;
}

#about-box2 img:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 15px black;
}

.gallery-section{
    background-color: beige;
    min-height: 100vh;
}

.gallery-container {
    background-color: rgb(195, 168, 135);
    max-width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.gallery{
    list-style: none;

}

.gallery img {
}

.gallery img {
    max-width: 20%;
}