@font-face {
  font-family: "valami";
  src: local("../font/SquadaOne.ttf") format("truetype");
  font-weight: normal;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section {
    background-image: url("src/bg3.jpg");
    background-size: cover;   
    display: flex;
    justify-content: left;

}

.header-container {
    color: #121212;
    margin-bottom:5%;
    margin-left: 12%;
    text-decoration: none;
    font-size: 5vh;
    user-select: none;
    min-width: 300px;
    text-shadow: 2px 2px 8px rgb(255, 140, 0);
}

.about-section {  
    background-color: #000;
}

.about-container {
    margin-left: 7%;
    padding-right: 7%;
    
}
 
.about-box {
    display: flex;
    justify-content: left;
    align-items: left;
    color: antiquewhite;
    text-decoration: none;
    font-size: 4vh;
    user-select: none;
}

.aboutimg-box {
    display: flex;
    justify-content: right;
    align-items: right;
}

.aboutimg-box img{
    max-width: 20%;
    height: auto;
}

.gallery li img {
    max-width: 10%;
}